body {
    margin: 20px;
    font-family: Georgia, serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: center;
    background: #ffc8dd;
    color: #47126b;
    border-bottom: 6px solid #cdb4db;
    border-top: 6px solid #cdb4db;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #cdb4db;
}

.card:hover {
    background-color: #ade8f4;
    border-bottom: 6px solid #0096c7;
    border-top: 6px solid #0096c7;
}

.border-blue {
    border: 1px dotted blue;
}